:root {
  // TODO: dark mode
  --color-background-base: #f7f8f9;
  --color-background-shadow: #e6f2f8;
  --color-text: #0f1b61;
  --color-text-accent: #356dc1;
  --color-cta: #7f00e0;
  --color-subtitle: #848484;
  --color-box-shadow: #aadcec;
  --color-box-shadow-secondary: #376675;
}
