@import "@/styles/layout.scss";

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  background-color: var(--color-background-base);

  @include media-query-desktop() {
    padding: 6rem;
  }
}
